@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
@keyframes fadeIn {
    from { opacity:0; }
      to { opacity:1; }
}
@keyframes fadeOut {
    from { opacity:1; }
      to { opacity:0; }
}
textarea{resize:none;}
*{ margin:0;padding:0}
html,body{ height:100%;}
body{
    background:#121212 url("../octotakeover_lite.jpg") center/cover no-repeat fixed;
    color:#FFFFFF;
    cursor:default;
    overflow:hidden;
}
a:link{ text-decoration:none;}
a:visited{ text-decoration:none;}
a:hover{ text-decoration:none;}
a:active{ text-decoration:none;}

#taskbar {
    z-index:16777270;
    position:relative;
    display:block;
    height:30px;
    background-color:rgba(45,53,90,0.9);
    box-shadow: 0px 0px 10px 4px #000000;
}
.taskbar-button { /* Entire button div */
    height:30px;
    width:40px;
    position:relative;
    display:inline-block;
    background-color:transparent;
    color:#FFFFFF;
}
.taskbar-button i { /* Webfont icon inside of the button */
    display:block;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:18px;
}
/* Startbutton specifics here */
#startbutton {
    transition:color 1.8s;
    transition:background-color .16s;
}
#startbutton:hover {
    color:rgba(100,0,0,0.8);
    background-color:rgba(0,0,0,0.8);
}

/* Start Menu */
#menu-outer-border {
    z-index:16777271;
    position:absolute;
    display:none;
    border:1px solid #4A5586;
    width:400px;
    height:470px;
    border-radius:5px;
    animation:fadeIn .4s;
    transition: all 2s ease-in-out;
    box-shadow: 12px 12px 24px 4px black;
}
#menu-background {
    border:1px solid #7484CC;
    width:398px;
    height:468px;
    background-color:rgba(94, 108, 175, 0.9);;
    border-radius:5px;
    position:absolute;
}

/* Start Menu - Left Side */
#menu-list-app-outer-border {
    border:1px solid #A0A0A0;
    border-radius:5px;
    width:245px;
    position:absolute;
    top:5px;
    left:5px;
    bottom:5px;

}
#menu-list-applications {
    border:1px solid black;
    width:241px;
    top:0px;
    bottom:0px;
    background-color:#FFFFFF;
    color:black;
    border-radius:5px;
    position:absolute;
    padding-left:1px;
    padding-right:1px;
    padding-top:1px;
    padding-bottom:6px;
    box-shadow:1px 1px 12px #222222 inset;
}
#menu-list-applications a {
    cursor:default;
}
.app-row {
    color:#111111;
    border:1px solid transparent;
    font-size:12px;
    height:2em;
    padding-top:6px;
}
.app-row i, .app-row p, .app-row img {
    display:inline-block;
    vertical-align:middle;
    padding-left:6px;
}
.app-row i, .app-row img {
    height:22px;
    width:22px;
}
.app-row p {
    font-family:"Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
    font-weight:600;
    letter-spacing:.06em;
}
.app-row:hover {
    border:1px solid rgb(124,161,205);
    border-radius:3px;
    /*background-color:rgba(195,220,252,0.3);*/
    background:linear-gradient(to bottom,rgba(234,243,252,0.9),rgba(193,219,252,0.9));
    box-shadow:6px 2px 9px -6px rgba(50,50,50,.8) inset;
}
#menu-list-searchbox {
    border:1px solid;
    border-color: rgb(100,100,100) rgb(147,147,147) rgb(147,147,147) rgb(100,100,100);
    position:absolute;
    width:225px;
    height:24px;
    bottom:5px;
    left:5px;
}
.taskbar-menu-icon-box-left {
    width:5px;
    height:5px
}
.taskbar-menu-icon-box-right {
    width:7px;
    height:6px;
}

/* Start Menu - Right Side */
#menu-emblem {
    background-color:rgba(0,0,0,0.45);
    color:white;
    width:57px;
    height:57px;
    border-radius:5px;
    position:absolute;
    right:43px;
    top:7px;
}
#menu-emblem img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
hr {
    width:75%;
    border:0;
    height:1px;
    display:block;
    margin:0.5em auto;
}
.hr-top {
    background-image:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    padding-bottom:0;
    margin-bottom:0;
}
.hr-bottom {
    background-image:linear-gradient(to right, rgba(199,199,199,0), rgba(199,199,199,0.75), rgba(199,199,199,0));
    padding-top:0;
    margin-top:0;
}
.hrule {
    position:absolute;
    right:0px;
    width:148px;
}
#hr1 { top:169px;}
#hr2 { top:243px;}
#search-glass {
    position:absolute;
    right:5px;
    transform:scaleX(-1);
    color:dodgerblue;
}
#avatar {
    font-size:48px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin:auto;
    position:absolute;
    text-align:center;
    line-height:56px;

}

/* <- Click Here To Begin */
#click-here {
    position:absolute;
    right:0px;

}

#workarea {
    position:relative;
    /*top:0;
    left:0;*/
    width:100%;
    height:100%;

}
/* General Colors & Pointers */
.green {color:#6AB344;}
.blue {color:skyblue;}
.handi {color:#65B9F3;}
.gold {color:rgb(176, 167, 41);}
.red {color:rgb(100,0,0);}
.redx { color:rgb(199,80,80); background-color:white; }
.redx-highlight { color:rgb(224,67,67); }
.pointer {cursor:default;}
.caret {cursor:text;}
.mdi {font-size:22px;}
.ns {
    user-select:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.fade {
    transition:opacity 2s;
    -webkit-transition:opacity 2s;
    -o-transition:opacity 2s;
    -moz-transition:opacity 2s;
    opacity:0;
}
.float-left { float:left; }
.float-right { float:right; overflow:auto; }
.closex {
    width:44px;
    height:19px;
    line-height:19px;
    background-color:rgb(199,80,80);
    color:#FFF;
    text-align:center;
    font-family: Arial, san-serif;
    cursor:default;
    transition:color 1.8s;
    transition:background-color .16s;
}
.closex:hover {
    background-color:rgb(224,67,67);
}
.menubar {
    height:18px;
    line-height:18px;
    background-color:rgb(245,246,247);
    color:#000;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size:11px;
    /*box-shadow: 0px 5px 5px #FFF;*/
}
.menubar-item {
    display:inline-block;
    padding-left:7px;
    padding-right:7px;
    border:1px solid transparent;
}
.menubar-item:hover {
    border:1px solid rgb(122,176,232);
    background-color:rgba(213,231,248,0.5);
}
