#prediv {
    opacity:0.5;
    position:absolute;
    background-color:rgba(111,111,111,0.4);
    color:rgba(111,111,111,0.4);
    width:50%;
    height:100%;
    top:0px;
    bottom:0px;
}

.titlebar {
    font-family:'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
    height:26px;
    line-height:26px;
    text-align:center;
    cursor:move;
    opacity:0.8;
}

.ws-overlappedwindow {
    padding:2px;
    position:fixed;
    top:50px;
    left:50px;
    width:400px;
    height:300px;
    position:absolute;
    border:1px solid #5868B2;
    background-color:rgba(74, 85, 134, 0.9);
    color:#EEE;
    box-shadow:2px 2px 4px rgba(12,13,14,0.5);
}
