#prediv {
    opacity:0.5;
    position:absolute;
    background-color:rgba(111,111,111,0.4);
    color:rgba(111,111,111,0.4);
    width:50%;
    height:100%;
    top:0px;
    bottom:0px;
}

.titlebar {
    font-family:'Segoe UI', Tahoma, Helvetica, Arial, sans-serif;
    height:26px;
    line-height:26px;
    text-align:center;
    cursor:move;
    opacity:0.8;
}

.ws-overlappedwindow {
    padding:2px;
    position:fixed;
    top:50px;
    left:50px;
    width:400px;
    height:300px;
    position:absolute;
    border:1px solid #5868B2;
    background-color:rgba(74, 85, 134, 0.9);
    color:#EEE;
    box-shadow:2px 2px 4px rgba(12,13,14,0.5);
}

.closex {
    width:44px;
    height:19px;
    line-height:19px;
    background-color:rgb(199,80,80);
    color:#FFF;
    text-align:center;
    font-family: Arial, san-serif;
    cursor:default;
    transition:color 1.8s;
    transition:background-color .16s;
}
.closex:hover {
    background-color:rgb(224,67,67);
}
.menubar {
    height:18px;
    line-height:18px;
    background-color:rgb(245,246,247);
    color:#000;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size:11px;
    /*box-shadow: 0px 5px 5px #FFF;*/
}
.menubar-item {
    display:inline-block;
    padding-left:7px;
    padding-right:7px;
    border:1px solid transparent;
}
.menubar-item:hover {
    border:1px solid rgb(122,176,232);
    background-color:rgba(213,231,248,0.5);
}

.redx { color:rgb(199,80,80); background-color:white; }
.redx-highlight { color:rgb(224,67,67); }

.mdi {font-size:22px;}
